body {
    font-family: 'Cabin', sans-serif;
	font-size: 12pt;
    background-color: pink;
}

#titulo{
	font-style: italic;
	font-size: 20pt;
}

#foto {
	border: 3px solid rgb(137, 59, 195);
	position: absolute;
	right: -208px;
	top: 0px;
	margin-left: 0px;
	
}

.logos{
	width: 60px;
	height: 40px;
}
header {
	border: 3px solid rgb(112, 48, 160);
	box-shadow: 3px 3px 0px darkgray;
	width: 120%;
    height: 128px;
	margin-right: 0px;
	background-image: url("../images/fondo.png");
	background-size: cover;
}

a {
	color: blue;
	padding-bottom: 10px;
	   
}

div {
	position: relative;
	width: 76%;
	margin-left: 50px;
	margin-top: 5px;
}

.vinietaBullet {
	list-style-image: url("../images/vinietaBullet.png");
}

.alinearArriba {
	vertical-align: top;
}

table {
	border-collapse: separate;
	border-spacing: 10px 5px;
	width: 100%;
}

ul {
	margin-top: 0px;
	padding-left: 20px;
}

h2 {
	color: rgb(112, 48, 160);
	margin-bottom: 0px;
	margin-top: 10px;


}

.tabular {
	margin-left: 25px;
}

h1 {
	font-size: 300%;
	margin-top: 1px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.content {
    width: 600px;
}

.close {
 
 	text-align: right;
}

.content2 {
    margin: 0px auto;
    min-height: 100px;
    width: 600px;
    padding: 10px;
	border: 3px solid rgb(112, 48, 160);
	background-color:gainsboro;
	
}